@using PickupGames.Models
@using PickupGames.Domain.Objects
@model PickupGames.Models.GameSearchModel
@{
    ViewBag.Title = "Index";
}

<style> 
    #container, #container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
</style>

<div data-example-id="responsive-embed-16by9-iframe-youtube">
    <div class="embed-responsive embed-responsive-16by9" style="top:-2.5em">
        @*<iframe class="embed-responsive-item" src="//www.youtube.com/embed/vnfulwtcwKQ?rel=0&autoplay=1&loop=1&playlist=vnfulwtcwKQ"></iframe>*@
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zu-d5A-tEac?rel=0&autoplay=1&loop=1&playlist=zu-d5A-tEac"></iframe>
        <div class="row" style="background-color: white;top: 80%;position: absolute;padding-bottom: 100%;width: 110%;">
            <div class="col-xs-12" ng-controller="HomeController">
                <form id="searchgamesform" name="searchgamesform" ng-submit="searchgames(searchgamesform)" enctype="multipart/form-data" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input id="Location" name="Location" ng-model="Location" class="form-control pull-left" placeholder="Where do you want to play?" data-lat="{{LocationLat}}" data-lng="{{LocationLng}}">
                            <button type="submit" class="btn btn-default" style="background-color: #00bc8c;border-color: #00bc8c;color: white" aria-hidden="true">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </form>
                @*@using (Html.BeginForm("SearchGames", "Home", new { role = "form", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <div class="col-xs-12">
                        @Html.TextBoxFor(m => m.Location, new { placeholder = "Where do you want to play?", @class = "form-control pull-left" })
                        <button type="submit" class="btn btn-default" style="background-color: #00bc8c;border-color: #00bc8c;color: white" aria-hidden="true">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            }*@
            </div>
        </div>
    </div>
</div>