@using System.Threading
@using PickupGames.Models
@using PickupGames.Domain.Objects
@*@model PickupGames.Models.GamesModel*@

@{
    Layout = null;
}

<style>
    #map-canvas {
        position: relative;
        overflow: hidden;
        -webkit-transform: translateZ(0);
        background-color: rgb(229, 227, 223);
        height: 100%;
    } 
</style>

<input type="hidden" ng-model="Zoom" />

<div id="search-location" class="row" style="position: fixed;top: .5em;z-index: 999999;left:6em">    
    <div class="col-xs-12">
        <div id="game-location" class="row">
            <div id="location-input" class="col-xs-12">
                <form id="searchgamesform" name="searchgamesform" ng-submit="searchgames()" enctype="multipart/form-data" class="form-horizontal" role="form">
                    <input @*id="Location" name="Location"*@ ng-model="game.Location" type="text" @*data-lat="{{LocationLat}}" data-lng="{{LocationLng}}"*@ class="form-control" placeholder="Where do you want to play?" />
                </form>
            </div>
        </div>
    </div>
</div>
<div id="sidebar" style="display: none; background-color: whitesmoke; position: fixed; top: 4em; left: 0; bottom: 0; width: 50%; overflow-y: scroll; overflow-x:hidden; -webkit-overflow-scrolling: touch">    
    <div class="col-xs-12">
        <div id="more-filters-toggle" class="row" style="margin-top: 1em; margin-bottom: 1em">
            <div class="col-xs-12">
                <button onclick="javascript:showHideGameSearchFilter();" class="btn btn-default">More Filters</button>
            </div>
        </div>
        <div id="search-extra-filters" class="row" style="display:none">
            <div class="col-xs-12">
                @*@Html.Partial("SearchExtra", Model.GameSearchModel)*@
            </div>
        </div>
        <div id="show-listings-toggle" class="row" style="margin-top: 1em; margin-bottom: 1em; display:none">
            <div class="col-xs-12">
                <button onclick="javascript:showHideGameSearchFilter();" class="btn btn-default" style="width:100%;position:relative;bottom:0">Show Listings</button>
            </div>
        </div>
        <div id="search-results" ng-repeat="game in games" style="padding-bottom:1em">
            <div class="row" style="background-color: white; color: grey;box-shadow: 0 1px 1px #888888;margin-left:0 !important;margin-right:60px !important">
                <div>
                    <div>
                        {{game.sport}}
                    </div>
                    <div>
                        {{game.GameDate}}
                    </div>
                    <div id="location" data-lat="{{game.LocationLat}}" data-lng="{{game.LocationLng}}">
                        {{game.Location}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map" style="display: block; width: 100%;position: fixed;top: 4em;right: 0;left: auto;bottom: 0">    
    <div my-map=""></div>
</div>
<div id="mobile-footer" class="navbar-fixed-bottom" style="background-color: white;padding: .5em 0 .5em 0;display:none;">    
    <div class="dropdown">
        <div class="dropdown-menu" role="menu" ng-repeat="game in games" style="width: 100%; margin: 0 !important; border: 0;border-radius: 0;box-shadow: none;-webkit-box-shadow: none;background-color:whitesmoke">                             
            <div class="col-xs-12" style="padding-bottom: 1em;">
                <div style="background-color: white; color: grey">
                    <div>
                        {{game.sport}}
                    </div>
                    <div>
                        {{game.GameDate}}
                    </div>
                    <div id="location" data-lat="{{game.LocationLat}}" data-lng="{{game.LocationLng}}">
                        {{game.Location}}
                    </div>
                </div>
            </div>
                
        </div>
        <div class="col-xs-6" data-toggle="dropdown">
            LIST RESULTS
        </div>
        <div class="col-xs-6 text-right">
            FILTER
        </div>
    </div>
</div>