<div id="game-location" class="row">
    <div id="location-input" class="col-xs-12">     
        <form id="searchgamesform" name="searchgamesform" ng-submit="searchgames()" enctype="multipart/form-data" class="form-horizontal" role="form">
            <input id="Location" name="Location" ng-model="Location" type="text" data-lat="{{LocationLat}}" data-lng="{{LocationLng}}" class="form-control" placeholder="Where do you want to play?" />
        </form>
    </div>
</div>
