<section class="messaging">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="block clearfix">
          <div class="pull-left">
            <h1>Product Lines</h1>
            <p></p><h3>Explore GE software product lines.</h3><p></p>
          </div>
          <div class="pull-right">
            <a data-toggle="modal" href="#modal-demo" class="btn" rel="tooltip" data-title="Add Application & Images" data-placement="bottom" data-original-title title><i class="icon-ico_add_alt_lg icon-black"></i><span>Add Application</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fill-container full-width">
  <div class="container" ng-controller="HomeCtrl">
    <div class="row">
      <div class="span4">
        <div class="block">
          <h3 class="title voice-brand">GE Transportation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <div class="media">
            <a href=""><img alt="GE Transportation" src=""></a>
          </div>
          <br>
          <p><a class="btn btn-link" href="">View Software Profiles <i class="icon-ico_arrowright_lg"></i></a></p>
        </div>
      </div>
    </div>
  </div><!-- /container -->
</section>

<div id="modal-demo" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Application</h3>
  </div>
  <!--@using (Html.BeginForm("AddProductAndImages", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {-->
  <form ng-submit="submit(addApplicationForm)" ng-controller="HomeCtrl">
  <div class="modal-body">
    <p>{{name + id}}</p>
    <label>Company Divisions</label>
    <select ng-model="addApplicationForm.CompanyDivisions" ng-options="companyDivision.name for companyDivision in companyDivisions" required>
      <option value="">-- choose division --</option>
    </select>
    <label>Product Suite</label>
    <input type="text" ng-model="addApplicationForm.ProductSuite" required>
    <label>Application Name</label>
    <input type="text" ng-model="addApplicationForm.ApplicationName" required>
    <label>Screen Shots</label>
    <input id="screenshots" type="file" multiple required>
    <!--@Html.ValidationSummary(false, "Error:")
    @Html.LabelFor(m => m.CompanyDivisionSelectListItems)
    @Html.DropDownListFor(m => m.CompanyDivision, new SelectList(Model.CompanyDivisionSelectListItems, "Value", "Text"), "--Select Company Division--")

    @Html.LabelFor(m => m.ProductSuite)
    @Html.TextBoxFor(m => m.ProductSuite)
    @Html.LabelFor(m => m.ApplicationName)
    @Html.TextBoxFor(m => m.ApplicationName)
    @Html.LabelFor(m => m.ApplicationDescription)
    @Html.TextAreaFor(m => m.ApplicationDescription)
    @Html.LabelFor(m => m.ApplicationLogo)
    @Html.TextBoxFor(m => m.ApplicationLogo, new {type = "file"})
    @Html.LabelFor(m => m.ScreenShots)
    @Html.TextBoxFor(m => m.ScreenShots, new {type = "file", multiple = "multiple"})-->
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
    <input class="btn btn-primary" type="submit" ng-/>
  </div>
    </form>

  <!--}-->
</div>