@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">            
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul id="nav-items" class="nav navbar-nav navbar-right">
        <li><a href='/games'>Find Games</a></li>
        <li><a href='/creategame'>Create Game</a></li>
        <li><a href='/mygames'>My Games</a></li>        
        @*<li><a href='/trackedgames'>Tracked Games</a></li>
        <li><a href='/recruiters'>Recruiters</a></li>
        <li><a href='/personalgamestats'>My Game Stats</a></li>
        <li><a href='/settings'>Settings</a></li>*@        
        <li><a href='/login'>Log in</a></li>
        <li><a href='/feedback'>Feedback</a></li>
        @*<li>@Html.ActionLink("Create Game", "Create", "Games")</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
