@model PickupGames.Models.GameSearchModel

@Html.HiddenFor(m => m.Zoom)

<form id="searchgamesform" name="searchgamesform" ng-submit="submit(searchgamesform)" enctype="multipart/form-data" class="form-horizontal" role="form">
    <div id="game-location" class="row">
        <div id="location-input" class="col-xs-12">
            <input id="Location" name="Location" ng-model="Location" class="form-control" placeholder="Where do you want to play?" data-lat="{{LocationLat}}" data-lng="LocationLng">
        </div>
    </div>
</form>
