@model PickupGames.Models.GameSearchModel

@Html.HiddenFor(m => m.Zoom)

@*@using (Ajax.BeginForm("SearchByAjax", "Games", FormMethod.Post, new AjaxOptions { }, new { id = "searchgamesform", @class = "form-horizontal", role="form" }))
{*@
<form id="searchgamesform" name="searchgamesform" class="form-horizontal" role="form">
    <div id="game-location" class="row">
        <div id="location-input" class="col-xs-12">
            <input id="Location" name="Location" ng-model="Location" class="form-control" placeholder="Where do you want to play?">
            @*@Html.TextBoxFor(m => m.Location, new { data_lat = @Model.LocationLat, data_lng = @Model.LocationLng, @class = "form-control", placeholder = "Where do you want to play?" })*@
        </div>
    </div>
</form>
