@using PickupGames.Models

@model GamesModel
<div>
    @foreach (GameModel game in Model.Games)
                    {
                        @Html.DisplayName("test")
                    }     
</div>
